td svg {
    width: 16px;
    height: 16px;
}

span.addNewButton:hover {
    cursor: pointer;
    color: #EE4540;
}

td span.addNewButton:hover svg{
    filter: invert(58%) sepia(74%) saturate(6472%) hue-rotate(340deg) brightness(99%) contrast(88%);
}

span.deleteScenarioButton:hover {
    cursor: pointer;
    color: #EE4540;
}

div.modal-content {
    background-color: #EE4540;
}

td span.deleteScenarioButton:hover svg{
    filter: invert(58%) sepia(74%) saturate(6472%) hue-rotate(340deg) brightness(99%) contrast(88%);
}