td svg {
    width: 16px;
    height: 16px;
}

span.addNewButton:hover {
    cursor: pointer;
    color: #EE4540;
}

td span.addNewButton:hover svg{
    filter: invert(58%) sepia(74%) saturate(6472%) hue-rotate(340deg) brightness(99%) contrast(88%);
}

span.deleteRecipeButton:hover {
    cursor: pointer;
    color: #EE4540;
}

div.modal-content {
    background-color: #EE4540;
}

td span.deleteRecipeButton:hover svg{
    filter: invert(58%) sepia(74%) saturate(6472%) hue-rotate(340deg) brightness(99%) contrast(88%);
}

span.loadingIcon img.loadingImg {
    width: 16px;
    height: 16px;
}

.scenarioSelectTd select{
    color: white;
}

.scenarioSelectTd option{
    color: black;
}

.selectNodeType select{
    color: white;
}

.selectNodeType option{
    color: black;
}

.resourceSelect select{
    color: white;
}

.resourceSelect option{
    color: black;
}

.nodeQuantityNumber {
    color: black;
}